<div class="flowers">

    <div class="flower">

        <div class="head">
            <div class="petal p1"></div>
            <div class="petal p2"></div>
            <div class="petal p3"></div>
            <div class="petal p4"></div>
        </div>

        <div class="stem"></div>
        <div class="bud"></div>

    </div>

    <div class="flower">

        <div class="head">
            <div class="petal p1"></div>
            <div class="petal p2"></div>
            <div class="petal p3"></div>
            <div class="petal p4"></div>
        </div>

        <div class="stem"></div>
        <div class="bud"></div>

    </div>

    <div class="flower">

        <div class="head">
            <div class="petal p1"></div>
            <div class="petal p2"></div>
            <div class="petal p3"></div>
            <div class="petal p4"></div>
        </div>

        <div class="stem"></div>
        <div class="bud"></div>

    </div>

</div>
