/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root */
:root {
  --dark-color: #ffffff;
}

/* Body */
body {
  min-height: 100vh;
  background-color: #000;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  perspective: 1000px;
}

/* Background Section */
.night {
  position: fixed;
  inset: 0;
  z-index: -1;

  background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("small.jpeg") center/contain no-repeat;

  filter: blur(0.1vmin);
}

/* Flowers Container */
.flowers {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.9);
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

/* Flower Base */
.flower {
  position: absolute;
  bottom: 0;
  transform-origin: bottom center;
  z-index: 10;
  --fl-speed: 0.8s;
}

/* Position Flowers */
.flower--1 { left: 45%; }
.flower--2 { left: 55%; }
.flower--3 { left: 50%; }

/* Stem */
.flower__line {
  height: 55vmin;
  width: 1.5vmin;

  background-image:
    linear-gradient(to left, rgba(0,0,0,0.2), transparent, rgba(255,255,255,0.2)),
    linear-gradient(to top, transparent 10%, #14757a, #39c6d6);

  box-shadow: inset 0 0 2px rgba(0,0,0,0.5);

  animation: grow-flower 4s backwards;
}

/* Petals */
.flower__leaf {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8vmin;
  height: 11vmin;

  border-radius: 51% 49% 47% 53% / 44% 45% 55% 69%;
  background: linear-gradient(to top, #ff0404, #ff0000);

  transform-origin: bottom center;
  opacity: 0.9;

  box-shadow: inset 0 0 2vmin rgba(255,255,255,0.5);
}

/* Center */
.flower__white-circle {
  position: absolute;
  left: -3.5vmin;
  top: -3vmin;
  width: 9vmin;
  height: 4vmin;
  border-radius: 50%;
  background-color: #34c96e;
}

/* Lights */
.flower__light {
  position: absolute;
  bottom: 0;
  width: 1vmin;
  height: 1vmin;
  border-radius: 50%;
  background: #fffb00;

  filter: blur(0.2vmin);
  animation: light-float 4s linear infinite;
}

.flower__light:nth-child(odd) {
  background: #23f0ff;
}

/* Animations */

@keyframes grow-flower {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 55vmin;
    opacity: 1;
  }
}

@keyframes light-float {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-15vmin);
  }

  100% {
    opacity: 0;
    transform: translateY(-30vmin);
  }
}

/* Movement */
@keyframes sway-1 {
  0%,100% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
}

@keyframes sway-2 {
  0%,100% { transform: rotate(15deg); }
  50% { transform: rotate(12deg); }
}

@keyframes sway-3 {
  0%,100% { transform: rotate(-15deg); }
  50% { transform: rotate(-18deg); }
}

/* Apply Sway */
.flower--1 {
  animation: sway-1 4s linear infinite;
}

.flower--2 {
  animation: sway-2 4s linear infinite;
}

.flower--3 {
  animation: sway-3 4s linear infinite;
}

/* Disable before load */
.not-loaded * {
  animation-play-state: paused !important;
}
